<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>key_value index</title>
</head>
<body>

{% if key_value_list %}
    <table border="1">
        <tr>
            <th>key</th><th>显示名</th><th>值</th><th>值类型</th>
        </tr>
        {% for key_value in key_value_list %}
            <tr>
                <td>{{ key_value.key }}</a></td>
                <td>{{ key_value.display_name }}</a></td>
                <td>{{key_value.value}}</td>
                <td>{{key_value.value_type}}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
no data
{% endif %}
</body>
</html>