<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>value list</title>
</head>
<body>
{% if value_list %}
<table border="1">
    <tr>
        <th>boolean</th><th>char</th><th>email</th>
        <th>file</th><th>file url</th><th>create time</th><th>update time</th>
    </tr>
    {% for value in value_list %}
    <tr>
        <td>{{value.boolean_value}}</td>
        <td>{{value.char_value}}</td>
        <td>{{value.email_value}}</td>
        <td>{{value.file_value}}</td>
        <td><a href={{value.file_value.url}}>{{value.file_value.url}}</a></td>
        <td>{{value.datetime_create_value}}</td>
        <td>{{value.datetime_update_value}}</td>
    </tr>
    {% endfor %}
</table>

{% else %}
no value found
{% endif %}
</body>
</html>