<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Apps</title>
</head>
<body>
<h2>
    Hello {{ user }}, You are {% if user.is_authenticated %}{% else %}not{% endif %} logged.
</h2>
<div>
    <a href="{% url 'myuser:logout' %}">登出</a>
</div>
{% if apps %}
    <ul>
        {% for app in apps %}
            <li>
                <a href="{{ app.url }}">{{ app.name }}</a>
            </li>
        {% endfor %}
    </ul>

{% else %}
    no app found
{% endif %}
</body>
</html>