{% if job %}
    <table border="1">
        <tr>
            <th>job_id</th><th>job_name</th><th>cron 表达式</th><th>运行状态</th>
            <th>开始时间</th><th>上次执行时间</th><th>下次执行时间</th><th>描述</th><th>历史</th>
        </tr>
            <tr>
                <td>{{ job.id }}</a></td>
                <td>{{ job.name }}</a></td>
                <td>{{job.cron_expr}}</td>
                <td>{{job.status}}</td>
                <td>{{job.start_time}}</td>
                <td>{{job.last_run_time}}</td>
                <td>{{job.next_run_time}}</td>
                <td>{{job.description}}</td>
                <td><a href="{% url 'cronjob:history11' job.id %}">history</a></td>
            </tr>
    </table>
{% else %}
    <p>No jobs found.</p>
{% endif %}