<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ess tools -- download file</title>
    <style>
        .topmenu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #777;
        }

        .topmenu li {
            float: left;
        }

        .topmenu li a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }

        .topmenu li a.active {
            color: white;
            background-color: #4CAF50;
        }

        .topmenu li a:hover {
            background-color: #222;
        }
    </style>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
</head>
<body>
<div>


<ul class="topmenu">
  <li><a href="{% url 'ess:download' %}" class="active">下载</a></li>
  <li><a href="{% url 'ess:upload' %}">上传</a></li>
  <li><a href="{% url 'ess:bucket' %}">查看BUCKET</a></li>
</ul>
</div>

<div>
    <input type="button" name="new_download" value="新的下载请求" onclick="showNewDownload()" />
    <input type="button" name="download_history" value="下载历史" onclick="showDownloadHistory()" />
</div>
<div id="new_download_body">
    <div>
        <!--<form action="{% url 'ess:download_display' %}" method="post">-->
        url to download: <input type="text" id="url" style="width: 600px"/>
        <input type="button" name="display" value="显示" onclick="download_file()"/>
        <!--<input type="button" name="download" value="下载" />-->
        <!--<input type="submit" id="download" value="下载" />-->
        <!--</form>-->
    </div>
    <div>
        content: <br/>
        <inupt type="text" id="content" value=""/>
    </div>
</div>
<div id="download_history_body" style="display: none;">
    <table border="1" id="download_history_table"></table>
</div>
</body>
<script>
    function isArray(obj){
        return (typeof obj=='object')&&obj.constructor==Array;
    }
    function isString(str){
        return (typeof str=='string')&&str.constructor==String;
    }

    function download_file() {
        var url = document.getElementById('url').value;
        var json_obj = {
            'url': url
        };
        var json_str = JSON.stringify(json_obj);
        var post_url = "{% url 'ess:download_display' %}";
//        var post_url = "http://localhost:8000/ess/download/display/";
//        console.log(post_url);
        $.post(post_url, json_str,
            function(data){
                var content = document.getElementById('content');
                console.log(data);
                content.innerHTML = data.content.replace(/\n/g, "<br/>");
            },
            'json')
    }

    function showElements(eles) {
        if (isArray(eles)){
            for (var i in eles){
                document.getElementById(eles[i]).style.display="inline";
            }
        } else if(isString(eles)){
            document.getElementById(eles).style.display="inline";
        }

    }
    function hideElements(eles){
        if (isArray(eles)){
            for (var i in eles){
                document.getElementById(eles[i]).style.display="none";
            }
        } else if (isString(eles)) {
            document.getElementById(eles).style.display="none";
        }
    }

    function showNewDownload(){
        showElements('new_download_body');
        hideElements('download_history_body')
    }

    function historyCallback(data){
        console.log(data);
        var content = document.getElementById('download_history_table');
        content.innerHTML = "<tr><th>url</th><th>最后下载时间</th><th>次数</th></tr>";
        var histories = data.histories;
        for (var i in histories){
            var history = histories[i];
//            console.log(history);
//            console.log("<a href=\"{% url 'ess:download_history_of_url' history.url %}\"/>");
//            console.log("{% url 'ess:download_history_of_url' history.url %}");
            content.innerHTML += "<tr>"
                + "<td>" + history.url + "</td>"
                + "<td>" + history.create_time + "</td>"
                + "<td>" + history.times + "</td>"
                + "</tr>"
        }
    }
    function showDownloadHistory(){
        hideElements('new_download_body');
//        var json_obj = {};
//        var json_str = JSON.stringify(json_obj);
        var get_url = "{% url 'ess:download_history' %}";

        $.get(get_url, '', historyCallback, 'json');

        showElements('download_history_body');
    }

</script>
</html>